*{
    margin:0;
    padding:0;
}


body{
    background-color: #548687;
    text-align: center;
}

h1{
    color: aliceblue;
    line-height: 5rem;
    font-size: 3rem;
}
.container{
    height: 70vh;
     display: flex;
     justify-content: center;
     align-items: center;
}

.game{
     height: 60vmin;
     width: 60vmin;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width:18vmin;
    border-radius: 15px;
    border: none;
    font-size: 8vmin;
    color: #b0413e;
    background-color: antiquewhite;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border: solid;
    border-radius: 10px;
}

#newBtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border: solid; 
    border-radius: 10px;
}

#newBtn:hover{
    cursor:pointer;
    background-color:#3bf231;
}

#reset-btn:hover{
    cursor:pointer;
    background-color:#e94f37;
}

#msg{
    color: aliceblue;
    font-size: 8vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}

#msgk{
    color: aliceblue;
    font-size: 8vmin;
}
